@charset "utf-8";
.logo{
	background: url('../img/logo1.png') no-repeat;
	background-size:100% 100%;
	width: 420px;
	height: 90px;
}
.search{
	float:left;
	height: 55px;
	width: 400px;
	margin-top:10px;
}
.search ul{
	overflow:hidden;
}
.search ul li{
	margin-right: 7px;
	cursor: pointer;
}
.active{
	background: #b8243b;
	color: #fff;
}
.text_search{
	width: 250px;
	height: 30px;
	padding-left: 10px;
}
.topsearch{
	height: 115px;
	margin:30px auto 0;
}
.topsearch a{
	margin-right:85px;
	display:inline-block;
	float:left;
}
.do_search{
	height: 34px;
	width: 115px;
}
.play{
	height: 55px;
	margin-top: 50px;
}
.play ul{
	overflow:hidden;
}
.frp a{
	float:none;
	margin:0;
}
.play ul li{
	height:12px;
	line-height:12px;
	margin-left:12px;
	border-right:1px solid #b8243b;
	padding-right: 12px;
}
.play ul li:first-child{
	border-right: none;
}
.play ul li span{
	background: url('../icon/icon_sj.png') no-repeat;
	width: 10px;
	height: 5px;
	margin-left: 10px;
}
/*footer start*/
footer .out{
	margin-top: 15px;
}
.out .p_li{
	margin-right: 65px;
}
.out .p_li:last-child{
	float: right;
	margin-right: 0px;
}
.inner li{
	clear: left !important;
}
.inner li:nth-child(1){
	font-size: 16px;
}
.inner li{
	color: #949494;	
	font-size: 14px;
	margin-top: 10px;
}
.inner li .more{
	color: #ac8753;
}
.inner li .h3{
	color: #fff;
}
.inner .copyright{
	width: 380px;
	line-height: 26px;
}
/*footer end*/