@charset "utf-8";
/*login   start*/
.content{
	position: relative;
	height: 580px;
	margin-bottom: 70px;
}
.login{
	box-shadow:0 0 30px rgba(68,31,5,0.9);
	height: 480px;
	width: 350px;
	background: #f0f0f0;
	position: absolute;
	top: 12px;
	right: 150px;
}
.login .title{
	height: 70px;
	width: 310px;
	margin: 0px auto;
}
.login .title p{
	color:#5A5A5A;
	height: 70px;
	line-height: 70px;
	float: left;
	font-size: 24px;
}
.login .title span{
	font-size:14px;
	height: 70px;
	line-height: 70px;
	float: right;
}
.login .title span a{
	color: #ac8753;
}
.title i{
	width: 18px;
	height: 18px;
	float: right;
	display: inline-block;
	margin-top: 26px;
	border-radius: 12px;
	background: #ac8753;
	color: #fff;
	margin-right: 10px;
	line-height: 18px;
	text-align: center;
}
.login_form{
	width: 310px;
	margin: 0px auto;
}
li.commit_p{
	margin:30px 0 20px 0 !important;
	overflow:hidden;
	background-image: url(../img/box1.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}
.commit_p a{
	display:inline-block;
	font-size:14px;
}
.commit_p a:nth-child(1){
	float:left;
	padding-left:25px;
}
.commit_p a:nth-child(2){
	float:right;
}
.login_form li{
	margin: 20px auto;

}
.login_form li input{
	border: 1px solid #dddedd;
	width: 290px;
}
.fr{
	float: right;
	display: block;
}
.other_login{
	width: 310px;
	height: 1px;
	background: #aaa8ad;
	margin: 40px auto;
}
.other_login p{
	text-align: center;
	background: #f0f0f0;
	width: 120px;
	height: 30px;
	line-height: 3px;
	display: block;
	margin: -15px 95px;
	color:#b3b3b5;
	font-size:14px;
}
.other_login div{
	text-align:center;
	width: 220px;
	margin: 20px auto;
}
.other_login div .img{
	display:inline-block;
	width: 70px;
	height: 70px;
    margin:0;
}
.other_login div .img img{
	width:100%;
	height:100%;
}
.next1{
    height: 40px;
    border-radius: 4px;
    background: #c12736;
    color: #fff;
    padding: 5px 0px;
    font-size: 24px;
}
/*login   end*/