@charset "utf-8";
header{
	background: #fff; 
	margin-bottom:40px;
}
.top .reg_log{
	float: right;
	font-size: 16px;
	color: #ccc;
}
.top .reg_log a{
	padding: 0px 10px;
	color: #333;
}
.hr{
	width: 330px;
	height: 1px;
	background: #ddd;
	margin: 90px auto;
	position: relative;
}
.border{
	width: 48px;
	height: 48px;
	border-radius: 24px;
	position: absolute;
}
.border:nth-child(1){
	top: -25px;
	left: -25px;
}
.border:nth-child(2){
	top: -25px;
	left: 140px;
}
.border:nth-child(3){
	top: -25px;
	right: -25px;
}
.border span{
	margin: 10px -10px;
    font-size: 14px;
    width: 70px;
    display: block;
    color: #858484;
    text-align: center;
}
.active{
	border: 1px solid #dd8890;
}
.active span{
    color: #c12736;
}
.active .arc{
	background: #c12736;
}
.arc{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background: #ccc;
	margin: 4px auto;
	color: #fff;
	font-size: 24px;
	text-align: center;
}
.safe_form{
	width: 600px;
	margin: 10px auto;
}
.safe_form li{
	margin-top: 30px;
}
.safe_form li input{
	border: 1px solid #dddedd;
	width: 460px;
}
#code{
	width: 295px;
}


.top-safe{
	overflow:hidden;
}
.top-safe div:nth-child(2){
	margin:10px 0 0 20px;
	padding:15px 0 0 20px;
	font-size:35px;
	border-left:3px solid #C49C74;
	float:left;
	color:#898989;
}
.top-safe span{
	display:inline-block;
	width:1px;
	height:10px;
	margin:0 10px;
	background:#C22737;
	margin-top:60px;
}
.re-form .regiter1{
	color:#A1A1A1;
	font-size:14px;
	margin: 40px 40px 70px;
	border-right:0;
}
.regiter1 input{
	font-size:14px;
	border:1px solid #dedede;
	width:260px;
}
.regiter ul li{
	margin-top:30px;
}
.regiter1 li span{
	display:inline-block;
	width:100px;
}
.regiter1 .submit{
	font-size:24px;
	width:388px;
	margin:20px 0;
}
.regiter1 .req_code{
	border:0;
	color:#A1A1A1;
	width:100px;
}
.regiter1 ul li .ph_code{
	width:130px;
}
.top-safe p{
	float:right;
	font-size:12px;
}
.top-safe p a{
	color:#C22737;
}
.re-form1{
	width:490px;
	border-right:1px solid #ddd;
	margin:40px 15px;
}
.safe-box{
	display:none;
	box-shadow:0 0 15px rgba(0,0,0,0.9);
	width:480px;
	min-height:200px;
	position:fixed;
	top:300px;
	left:50%;
	margin-left:-240px;
	z-index:2;
}
.safe-head{
	color:#fff;
	width:100%;
	height:45px;
	line-height:45px;
	background:#C22737;
	text-align:center;
}
.safe-body{
	text-align:center;
	background:#fff;
	padding:15px;	
}
.safe-cont{
	padding:10px;
	margin-bottom:15px;
	min-height:70px;
	background:#F4F5F9;
}
.safe-body input{
	padding:10px 50px;
	background:#C2272D;
	color:#fff;
	font-size:18px;
}
